.a_link {
    color: white;
}
.l_padding {
    padding-left: 4%;
}
.r_padding {
    padding-right: 4%;
}

/* Navigation Bar */
.nav-color {
    background-color: #444444;
}
.nav-hover:hover {
    color: red;
    font-size: 16px;
}
.nav_img {
    width:40%;
    padding-left: -20px;
}
.left_pad {
    padding-left: -50px;
}

/* Footer styling */
.f_img {
    padding-top: 10px;
    width: 50%;
}
.f_font {
    color: white;
}